<h5>Current date is: {{time | date: 'hh:mm:ss a'}}</h5>
<form>
  <div class="form-group">
    <label for="inputName">Name:</label>
    <input type="text" class="form-control" id="inputName" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="inputMessage">Message:</label>
    <input type="text" class="form-control" id="inputMessage" placeholder="Enter message">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div *ngFor="let note of notes">
  <h4>All notes</h4>
  <label for="noteAuthor">Author:</label>
  <p id="noteAuthor">{{note.author}}</p>
  <label for="noteMessage">Message:</label>
  <p id="noteMessage">{{note.message}}</p>
</div>

