<h5 class="text-center p-3">Current date is: {{time | date: 'hh:mm:ss a'}}</h5>
<div class="container p-3 my-3 bg-success text-white">
  <form>
    <div class="form-group">
      <label for="inputName">Author:</label>
      <input type="text" class="form-control" id="inputName" placeholder="Enter name" required value="{{noteAuthor}}"
             (keydown)="clearNoteAuthor($event)">
    </div>
    <div class="form-group">
      <label for="inputTitle">Title:</label>
      <input type="text" class="form-control" id="inputTitle" placeholder="Enter title" required value="{{noteTitle}}"
             (keydown)="clearNoteTitle($event)">
    </div>
    <div class="form-group">
      <label for="inputMessage">Message:</label>
      <textarea class="form-control" id="inputMessage" required placeholder="Enter message"></textarea>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-warning">Submit</button>
  </form>
</div>
<h4 class="text-center">All notes</h4>
<div *ngFor="let note of notes" (click)="showNote($event, note)">
  <div class="container p-3 my-3 text-white" [style.backgroundColor]="note.highlight ? '#727272' : '#343a40'">
    <label for="noteAuthor">Author:</label>
    <p id="noteAuthor">{{note.author}}</p>
    <div class="container p-3 my-3 border">
      <label for="noteTitle">Title:</label>
      <h5 id="noteTitle">{{note.title}}</h5>
    </div>
  </div>
</div>

